<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./data/contactmgr</property>
        <!-- SQL dialect -->
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>

        <!-- Update the database scheme on app start up, change to create to wipe data on start up -->
        <property name="hbm2ddl.auto">update</property>

        <!--To add logging - you need specific tool log4j2-->

        <!-- Name the annotated entity classes -->
        <mapping class="com.radsoltan.model.Contact" />
    </session-factory>
</hibernate-configuration>